.chart-plot-background {
    -fx-background-color: #1e2736;
}
.chart-vertical-grid-lines {
    -fx-stroke: rgba(183, 183, 183, 0.6);
}
.chart-horizontal-grid-lines {
    -fx-stroke: rgba(183, 183, 183, 0.6);
}
.chart-alternative-row-fill {
    -fx-fill: #1e2736;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-series-line.default-color0 {
    -fx-stroke: rgb(116, 115, 236);
}
